<!doctype html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin panel</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{% static 'adb/vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'adb/vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'adb/vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'adb/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'adb/vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'adb/vendors/jqvmap/dist/jqvmap.min.css' %}">


    <link rel="stylesheet" href="{% static 'adb/assets/css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>


    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./">Welcome Admin</a>
                <a class="navbar-brand hidden" href="./"><img src="{% static 'adb/images/logo2.png' %}" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/sap/"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
<!--                    <h3 class="menu-title">UI elements</h3>&lt;!&ndash; /.menu-title &ndash;&gt;-->
<!--                    <li class="menu-item-has-children dropdown">-->
<!--                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Components</a>-->
<!--                        <ul class="sub-menu children dropdown-menu">-->
<!--                            <li><i class="fa fa-puzzle-piece"></i><a href="ui-buttons.html">Buttons</a></li>-->
<!--                            <li><i class="fa fa-id-badge"></i><a href="ui-badges.html">Badges</a></li>-->
<!--                            <li><i class="fa fa-bars"></i><a href="ui-tabs.html">Tabs</a></li>-->
<!--                            <li><i class="fa fa-share-square-o"></i><a href="ui-social-buttons.html">Social Buttons</a></li>-->
<!--                            <li><i class="fa fa-id-card-o"></i><a href="ui-cards.html">Cards</a></li>-->
<!--                            <li><i class="fa fa-exclamation-triangle"></i><a href="ui-alerts.html">Alerts</a></li>-->
<!--                            <li><i class="fa fa-spinner"></i><a href="ui-progressbar.html">Progress Bars</a></li>-->
<!--                            <li><i class="fa fa-fire"></i><a href="ui-modals.html">Modals</a></li>-->
<!--                            <li><i class="fa fa-book"></i><a href="ui-switches.html">Switches</a></li>-->
<!--                            <li><i class="fa fa-th"></i><a href="ui-grids.html">Grids</a></li>-->
<!--                            <li><i class="fa fa-file-word-o"></i><a href="ui-typgraphy.html">Typography</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                    <li class="menu-item-has-children dropdown">
                        <a href="/sapp/" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Staff Approvals</a>

                    </li>

                     <li class="menu-item-has-children dropdown">
<!--                        <a href="#" class="dropdown-toggle" > <i class="menu-icon fa fa-th"></i>View staffs</a>-->
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="forms-basic.html">Basic Form</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Advanced Form</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="/addroom/"> <i class="menu-icon ti-email"></i>Add Room </a>
                    </li>

                    <li>
                        <a href="/rtype/"> <i class="menu-icon ti-email"></i>Add Room Type </a>
                    </li>

                     <li>
                        <a href="/veiwroom/"> <i class="menu-icon ti-email"></i>View Rooms</a>
                    </li>

                     <li>
                        <a href="/vroom/"> <i class="menu-icon ti-email"></i>View Room Types</a>
                    </li>

                     <li>
                        <a href="/addroom/"> <i class="menu-icon ti-email"></i>Change Password</a>
                    </li>

                    <h3 class="menu-title"><a href="">LOGOUT</a></h3><!-- /.menu-title -->
<!--                    <li class="menu-item-has-children dropdown">-->
<!--                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>-->
<!--                        <ul class="sub-menu children dropdown-menu">-->
<!--                            <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Login</a></li>-->
<!--                            <li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">Register</a></li>-->
<!--                            <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Forget Pass</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

<!--       -->

        <

                    <div class="col-lg-6 mt-5">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="card ml-5">
                            <div class="card-header"><strong>Add Room Type</strong></div>
                            <div class="card-body card-block">
                                <div class="form-group"><label for="company" class=" form-control-label">Room Type</label><input type="text" id="company" name="rmtype" placeholder="Enter the room type" class="form-control"></div>
                                        <div class="form-group"><label for="street" class=" form-control-label">Number of beds</label><input type="number" id="street" name="nobeds" placeholder="Enter number of beds" class="form-control"></div>
                                            <div class="row form-group">
                                                <div class="col-8">
                                                    <div class="form-group"><label for="city" class=" form-control-label">Upload image</label><input type="file" id="city" name="photo"  class="form-control"></div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="form-group"><label for="postal-code" class=" form-control-label">Rate per day</label><input type="number" id="postal-code" placeholder="rate per day" name="rate" class="form-control"></div>
                                                        </div>
                                                    </div>
                            <button class="btn btn-primary w-100" type="submit">Add Room Type</button>
                            </div>
                            </form>

                        </div>
                    </div>


                                        </div><!-- .animated -->
                                    </div><!-- .content -->
                                </div><!-- /#right-panel -->
                                <!-- Right Panel -->


                            <script src="{% static 'adb/vendors/jquery/dist/jquery.min.js' %}"></script>
                            <script src="{% static 'adb/vendors/popper.js/dist/umd/popper.min.js' %}"></script>

                            <script src="{% static 'adb/vendors/jquery-validation/dist/jquery.validate.min.js' %}"></script>
                            <script src="{% static 'adb/vendors/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js' %}"></script>

                            <script src="{% static 'adb/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
                            <script src="{% static 'adb/assets/js/main.js' %}"></script>
</body>
</html>
