<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Staff Panel</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static '/stb/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static '/stb/assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static '/stb/assets/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static '/stb/assets/vendors/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static '/stb/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static '/stb/assets/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static '/stb/assets/images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">

      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-category">Main</li>
            <li class="nav-item">
              <a class="nav-link" href="index.html">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">-->
<!--                <span class="icon-bg"><i class="mdi mdi-crosshairs-gps menu-icon"></i></span>-->
<!--                <span class="menu-title">UI Elements</span>-->
<!--                <i class="menu-arrow"></i>-->
<!--              </a>-->
<!--              <div class="collapse" id="ui-basic">-->
<!--                <ul class="nav flex-column sub-menu">-->
<!--                  <li class="nav-item"> <a class="nav-link" href="{% static '/stb/pages/ui-features/buttons.html' %}">Buttons</a></li>-->
<!--                  <li class="nav-item"> <a class="nav-link" href="{% static '/stb/pages/ui-features/dropdowns.html' %}">Dropdowns</a></li>-->
<!--                  <li class="nav-item"> <a class="nav-link" href="{% static '/stb/pages/ui-features/typography.html' %}">Typography</a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="{% static '/stb/pages/icons/mdi.html' %}">-->
<!--                <span class="icon-bg"><i class="mdi mdi-contacts menu-icon"></i></span>-->
<!--                <span class="menu-title">Icons</span>-->
<!--              </a>-->
<!--            </li>-->
            <li class="nav-item">
              <a class="nav-link" href="/rbkings/">
                <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                <span class="menu-title">Room Bookings</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/allrooms/">
                <span class="icon-bg"><i class="mdi mdi-chart-bar menu-icon"></i></span>
                <span class="menu-title">All Rooms</span>
              </a>
            </li>

            <li class="nav-item sidebar-user-actions">
              <div class="sidebar-user-menu">
                <a href="/" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
                  <span class="menu-title">Log Out</span></a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="d-xl-flex justify-content-between align-items-start">
              <h2 class="text-dark font-weight-bold mb-2"> Overview dashboard </h2>
              <
            </div>
            <div class="row">
              <div class="col-md-12">

                <div class="tab-content tab-transparent-content">
                  <div class="tab-pane fade show active" id="business-1" role="tabpanel" aria-labelledby="business-tab">
                    <div class="row">
                      <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body text-center">
                            <h5 class="mb-2 text-dark font-weight-normal">Room bookings</h5>
                            <h2 class="mb-4 text-dark font-weight-bold">{{book}}</h2>

                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body text-center">
                            <h5 class="mb-2 text-dark font-weight-normal">All Rooms</h5>
                            <h2 class="mb-4 text-dark font-weight-bold">{{rooms}}</h2>

                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3  col-lg-6 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body text-center">
                            <h5 class="mb-2 text-dark font-weight-normal">Room Types</h5>
                            <h2 class="mb-4 text-dark font-weight-bold">{{rmtypes}}</h2>

                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="footer-inner-wraper">
              <div class="d-sm-flex justify-content-center justify-content-sm-between">
              </div>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static '/stb/assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static '/stb/assets/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static '/stb/assets/vendors/jquery-circle-progress/js/circle-progress.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static '/stb/assets/js/off-canvas.js' %}"></script>
    <script src="{% static '/stb/assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static '/stb/assets/js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static '/stb/assets/js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->
  </body>
</html>